<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138787937708-2c59fpa3sa5ce0p1p7g5kq95a8nnh466.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138787937708-2c59fpa3sa5ce0p1p7g5kq95a8nnh466</string>
	<key>API_KEY</key>
	<string>AIzaSyAbvUjCByPom7ff7h7i2fP1ObRO_tWSaWE</string>
	<key>GCM_SENDER_ID</key>
	<string>138787937708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbit.app.orbitapp</string>
	<key>PROJECT_ID</key>
	<string>orbitapp-4e44f</string>
	<key>STORAGE_BUCKET</key>
	<string>orbitapp-4e44f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138787937708:ios:575d9d6251cc700402ee09</string>
</dict>
</plist>